/* body {
    margin: auto;
    margin-top: 5em;
}
h1 {
    margin-left: 1em;
} */
.form-login, .form-createAcc {
    background-image: linear-gradient(229deg, 
	rgb(215, 228, 226) 0%, rgb(232, 206, 240) 47%, 
	rgb(212, 228, 231) 65%);
    height: 22em;
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(141, 111, 121);
    margin-top: 5em;
}
.btn-logo-container {
    width: 250px;
    height: 250px;
}


.btn-logo {background-image:linear-gradient(-45deg, #e7a28d, #e07da3, #76b7cf, #68d6bd,#7e87d8);
	animation: gradient 9s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.btn-logo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border: none;

   display: block;
 }
 .btn-logo:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 
.div-container {
    border: 1px solid rgb(132, 58, 139);
    padding-bottom: 15em;
    margin-top: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(194, 193, 193);
}
 .div-logo {
     /* display: flex; */
     grid-area: logo;
     text-align: center;
     margin: auto;
     margin-top: 5em;
     margin-left: 8em;
 }

 .containerSignIn {
     grid-area: login;
     text-align: center;
     margin: auto;
     margin-right: 8em;
 }

 .containerSignIn p {
     text-align: right;
     margin:.5em;
     padding: .3em;
     background-color: rgb(224, 223, 223);
     border-radius: 5px;
     border: .2px solid gray;
     color: rgb(3, 3, 3);
 }
 .containerSignUp {
    grid-area: login;
    text-align: center;
    margin: auto;
    margin-right: 8em;
}

.containerSignUp p {
    text-align: right;
    margin:.5em;
    padding: .3em;
    background-color: rgb(224, 223, 223);
    border-radius: 5px;
    border: .2px solid gray;
    color: rgb(3, 3, 3);
}

 .div-body {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: "logo login";
 }

 .header-logo {
     display: flex;
 }

 .button-box {
     text-align: right;
 }

 .username, .password, .firstname, .lastname, .email {
     border: 1px solid rgb(151, 75, 151);
     border-radius: 5px;
     padding: .3em;;
 }

 .signIn, .signUp, .createAcc, .login {
     padding: 3px 15px;
     margin:.5em;
     border-radius: 6px;
     background-image: linear-gradient(rgb(189, 189, 189), rgb(170, 170, 170), rgb(230, 230, 230));

 }
 .signIn:active, .signUp:active, .createAcc:active, .login:active{
    background-image: linear-gradient(rgb(155, 155, 155), rgb(236, 236, 236), rgb(172, 172, 172));
 }

 .quoteHeader {
     padding: 1em;
     justify-content: space-around;
   
 }